<nav class="navbar">
  <div class="logo">
    <a href="index.html"><img src="../assets/images/logo.png"></a>
  </div>

  <!--Nav links-->
  <div class="navList">
    <ul class="navLinks">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="projects.html">Projects</a></li>
      <li><a href="pages.html">Pages</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="contact.html">Contact Us</a></li>
    </ul>
  </div>
  <!--Serch icon-->
  <div class="searchIcon">
    <img src="../assets/images/search.png" alt="serchIcon">
  </div>
</nav>

<div class="search-overlay" id="searchOverlay">
  <input type="text" placeholder="Search..." class="searchBox"/>
</div>