<div class="service-section">
  <!--Service Container-->
  <div id="service-container">

    
    <div class="service-header">
      <div class="service-header-content">
        <h1>Services</h1>
        <p>Service We Provide</p>
      </div>



      <div class="service-header-icon">
        <img class="serviceEng" src="../assets/images/serviceman.png" alt="seviceman">
        <p>
          We work to meet this ambitious goal by focusing on these key areas of conservation</p>
      </div>
    </div>


    
    <!--Middle Part of webPage-->
    <div class="service-main">
      <!--Section Frist-->
      <div class="section-first">
        <div class="section-first-service"></div>
        <div class="section-first-service"></div>
        <div class="section-first-service"></div>
        <div class="section-first-service"></div>
      </div>

      <!--Section Second-->

      <div class="section-second">
        <div class="section-second-service">
          <img src="../assets/images/fridge.png" alt="fridge">
            <div class="service-name">
              <h1>Refrigerator</h1>
              <p>Service And Repairs</p>
            </div>
            <a href="services.html" class="service-button">
              <h3>Read More +</h3>
            </a>
        </div>
        <div class="section-second-service">
          <img src="../assets/images/fridge.png" alt="fridge">
            <div class="service-name">
              <h1>Refrigerator</h1>
              <p>Service And Repairs</p>
            </div>
            <a href="services.html" class="service-button">
              <h3>Read More +</h3>
            </a>
        </div>
      </div>
    </div>




    <div class="service-footer"></div>
  </div>
</div>

<div class="section-first-service">
        <img src="../assets/images/fridge.png" alt="fridge">
        <div class="service-name">
          <h1>Refrigerator</h1>
          <p>Service And Repairs</p>
        </div>
        <a href="services.html" class="service-button">
          <h3>Read More +</h3>
        </a>
      </div>

