/* for headings and sub headings */  /* "Cal Sans",  "Rubik", "Boldnose"; */

@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Cal+Sans&family=Fjalla+One&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Palanquin+Dark:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.faqs-and-message-container {
    height: 825px;
    min-height: 828px;
    max-height: 900px;
    width: 100%;
    padding: 40px 60px;
    background-color: #011851;
    display: flex;
}

.faqs-query-container {
    height: 90%;
    width: 46.9%;
    /* border: 2px solid white; */
    padding: 15px 20px;
}

.faqs-query-container .faqs-header{
    line-height: 1.2;
}

.faqs-query-container .faq-header-main {
    font-size: 1.1rem;
    font-family: "Rubik",sans-serif;
    font-weight: 700;
    color: #00A7EB;
}

.faqs-query-container .faq-header-para {
    font-size: 2.4rem;
    color: #fff;
    font-weight: 800;
    font-family: "Rubik",sans-serif;
    line-height: 1.2;
    margin-top: 8px;
}

.faq-and-queries {
    height: 72.8%;
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.faq-and-queries .faq {
    width: 100%;
    height: 23%;
    background-color: #fff;
}

.faq-and-queries #faq1 {
    height: 54%;
}



/* =============== faq-message-container ============== */

.faq-message-container {
    height: 90%;
    width: 38%;
}







