.container{
    height: 850px;
    width: 100%;
    background-color: rgb(222, 217, 217);
    padding: 215px 0 90px;
}

.teamContent{
    height: 100%;
    width: auto;
    padding: 0 15px;
    margin: 0 28px;
}

.team-content-header{
    height: 20%;
    width: auto;
    text-align: center;
}

.team-content-header p{
    font-size: 1.2rem;
    color: #00A7EB;
    font-weight: 600;
}

.team-content-header h1{
    font-size: 3rem;
    color: #0B1A3A;
    font-weight: 700;
    margin-top: 10px;
}

.team-box-container{
    height: 80%;
    width: auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.team-box{
    height: 100%;
    width: 22%;
    background-color: #00A7EB;
    background-image: url('../images/ourTeam/TeamEngineerI.jpg');
    background-size: cover;
    position: relative;
}




.team-box-overlay{
    height: 100%;
    width: 100%;
    overflow: none;
}

/* ================= style with hover  =============== */

.team-box-overlay-effect{
background-color: #0B1A3A;
opacity: 0.4;
animation: shutter-up 0.2s forwards;
}

@keyframes shutter-up {
from{
    transform: scaleX(0) scaleY(0);
    transform-origin: 0 100%;
}
to{
    transform: scaleX(1) scaleY(1);
    transform-origin: 0 100%;
}
}

/* ======  overlay outer effet ============= */

.team-box-overlay-outer{
    background-color: #0B1A3A;
    opacity: 0.4;
    animation: shutter-down 2s forwards;
}

@keyframes shutter-down {
    from{
        transform: scaleX(1) scaleY(1);
        transform-origin: 0 100%;
    }
    to{
        transform: scaleX(0) scaleY(0);
        transform-origin: 0 100%;
    } 
}


/* ========= Team Member Name ============ */

.teamMemberName{
    height: 80px;
    width: 190px;
    border-top-right-radius: 40px;
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    color: white;
    background-color: rgb(79, 181, 204);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teamMemberName h1, p{
    color: white;
    font-weight: 700;
    font-family: sans-serif;
}

.teamMemberName h1{
    font-size: 1.6rem;
}

.teamMemberName p{
    font-size: 1rem;
}



/*============TEAM SHARE BUTTONS ICON ===========*/

.team-share-but{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: wheat;
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ============= TEAM SHARE BUT EFFECT ========== */

.team-share-but-effect{
    animation: change-radius 1s forwards;
}


@keyframes change-radius {
    from{
        border-radius: 50%;
    }   
    to{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    } 
}


/* ================ TEAM SHARE BUT EFT OUT ================ */

.team-share-but-outeft{
    animation: reverse-radius 1s forwards;
}

@keyframes reverse-radius {
    from{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    to{
        border-radius: 50%;
    }
}


/*  ==================== TEAM SOCIAL HANDELS =========== */

.team-social-handels{
    height: 125px;
    width: 45px;
    position: absolute;
    right: 15px;
    top: 65px;
    background-color: #00A7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* =============== TEAM-SOCIAL-HANDELS-EFFECT =========== */

.team-social-handels-effect{
    animation: social-expand 1s forwards;
}

@keyframes social-expand {
    from{
        transform: scaleY(0);
        transform-origin: 100% 0;
    }
    to{
        transform: scaleY(1);
        transform-origin: 100% 0;
    }
}

.team-social-handels i{
    font-size: 1.7rem;
    margin-top: 10px;
    color: black;
}





