.service-section{
    height: 1070px;
    width: 100%;
    background-color: #0b283e;
    border-top: 0.5px solid rgba(255, 255, 255, 0.2);
    padding: 80px 0px 60px 0px;
    overflow: hidden;
} 

#service-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 70% 10%;
    justify-content: center;
    overflow: hidden;
    margin: 0px 30px;
    padding: 0px 16px;
}

.service-header{
    display: flex;
    align-items: center;
}

.service-header-content{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    justify-content: center;
    padding-left: 100px;
}

.service-header-content h1{
    font-size: 1rem;
    color: #00879E;
    margin-bottom: 8px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.service-header-content p{
    font-size: 2.5rem;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

/*service icons*/

.service-header-icon{
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.service-header-icon img{
    width: 20%;
    height: 55%;
    margin-left: 8px;
}

.service-header-icon p{
    font-size: 1.4rem;
    color: #00879E;
    font-family: sans-serif;
    font-weight: 300;
    margin-top: 20px;
}

.engIcon-hover{
    transform: scaleX(-1);
    transition: all 0s ease-in-out;
}

.outEffect{
    transform: scaleY(1);
    transition: all 0s ease-in-out;
}



.service-main{
    height: 90%;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}

/*service first section top */



.section-first{
    height: 50%;
    width: 100%;
    display: flex;
}



.section-first-service img{
    height: 90px;
    width: 70px;
    /* transform: scaleY(1);
    transition: all 0.4s ease-in-out; */
}



.section-first-service{
    height: 100%;
    width: 25%;
    background-color:#0b283e;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    padding: 70px 30px 20px 30px;
}




/*section second service box*/

.section-second{
    height: 50%;
    width: 100%;
    display: flex;
    overflow-Y: hidden;
}

.section-second-service{
    height: 100%;
    width: 25%;
    background-color:#0b283e;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    padding: 70px 30px 20px 30px;

}

.section-second-service img{
    height: 90px;
    width: 70px;
    /* transform: scaleY(1);
    transition: all 0.4s ease-in-out; */
}





/*section inside styling */

.service-name{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.service-name h1{
    font-size: 1.8rem;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.service-name p{
    font-size: 1.2rem;
    color: white;
    font-family: monospace;
    font-weight: 200;
    margin-bottom: 20px;
}

.service-name h3{
    font-size: 0.9rem;
    color: rgb(0, 187, 255);
    font-family: sans-serif;
}

.service-button{
    text-decoration: none;
    color: #1B56FD;
    font-family: sans-serif;
    font-weight: 600;
    cursor: default;
}

.service-button a{
    cursor: pointer;
}

.rare{
    border: none;
    color: rgba(rgb(109, 199, 255), rgb(230, 171, 255), rgb(26, 109, 255) rgb(200, 34, 255),)
} 

/* #F56DFFBD */

/* .service-image{
    position: relative;
    background-color: green;
    width: 25%;
    height: 110%;
    margin-bottom: 2px;
} */

/* .service-footer{
    width: 100%;
    background-color: green;
    display: flex;
} */


.service-footer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}

.service-footer-content h1{
    color: #F8F4E1;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 600;
}

.service-footer-content a{
    text-decoration: none;
    color: #7AE2CF;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.3rem;
    &:hover{
        color: #03A791;
        text-decoration: underline;
    }
}

/* style for all service boxes */ 

/* .img-style{
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
} */

/* 
.{
    transform: scaleX(-1);
    transition: all 0.4s ease-in-out;
} */


/*let's begin for the effect */

.service-button-afterEffect{
    text-decoration: none;
    color: rgb(26, 109, 255), rgb(200, 34, 255), rgb(109, 109, 255), rgb(230, 171, 255);
    font-family: sans-serif;
    font-weight: 600;
    cursor: default;
}

.appliance{
    font-size: 1.8rem;
    color: rgb(200, 34, 255);
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}


.service-box-imgEffect{
    transform: scaleX(-1);
    transition: all 0.6s ease-in-out;
}

.service-box1-imgEffect{
    transform: scaleX(1);
    transition: all 0.25s ease-in-out;
}



/*go effect after hovering */

